@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #333;
    background-image: 
        radial-gradient(circle at top left, rgba(255,255,255,0.05), transparent),
        radial-gradient(circle at bottom right, rgba(255,255,255,0.05), transparent);
    font-family: 'Poppins', sans-serif;
}
